@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe1e1;
}

/* Navigation bar styles */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height:  7vh;
    background: whitesmoke;
  }

 
  .change-language{
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
  }
  #language{
    color: #000;
  }
  
  nav {
    position: relative;
    width: 800px;
    height: 50px;
    background: rgb(40, 32, 32);
  
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav a {
    position: relative;
    font-size: 1.1em;
  color: white;
   
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
  }
  nav a:hover {
    color: red;
    background: linear-gradient(45deg, #2e3192, #1bffff);
  }
  
  nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 100;
    transition: .5s;
  
  }
  
  nav a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  
/* Main content styles */
main {
    padding: 20px;
    text-align:center;
}

/* Footer styles */
footer {
    background-color: #080808;
    color: #efebeb;
    padding: 60px 0;
    text-align:center;
    position: fixed;
    width: 600%;
    bottom: 0;

}
.soni{
    width: 89%;
    min-height: 90vh;
    background-image: url(image/23456.jpg);
    background-position: center;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
}
nav ul{
    flex: 1;
    text-align: center;
    margin-right: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration:none;
    color: #f7f1f1;
    font-weight: 700;
    position: relative;
    padding: 10px;
}
nav ul li a::before{
    content: '';
    width: 100%;
    height: 0px;
    background-color:#93065a;
    position:absolute;
    z-index: -1;
    left: 0;
    bottom: -5px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: height 0.5s;
}
nav ul li a:hover::before{
    height: 85px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg,#df4881,#c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 5s; 
}

.content1{
    margin-top: 10%;
    max-width: 500px;
    text-transform: uppercase;
    text-align: center;
    position:relative;
    top: 90%;
    color:#f1ebeb;
  
   
}
.content h1{
    margin-top: 180px;
    overflow: hidden;
    font-size: 4em;
    font: bolder;
    font-weight: 800;
    animation-delay: 1s; 

}
.content p{
    padding: 20px;
    margin: 30px 10 50px;
    font-size: 600px;
    animation-delay: 2s;
    font: arial;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 3s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.feature-img{
    position: fixed;
    bottom: 0;
    right: 10%;
}
.feature-img.anim{
    animation-delay:1s;
}
.anim{
    opacity: 0;
    transform:translateY(30px);
    animation: moveup 1s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 2;
        transform:translateY(0px);
    }
}

.content2{
    width: 89%;
    min-height: 90vh;
    background-image: url(image/22.webp);
    background-position:center;
    background-size: cover;
    color:#fff;
    padding: 10px 10%;
    max-width: 1200px;
    text-align: center;
    position:relative;
    top: 50%;
    overflow: hidden;   
}
.content h1{
    padding: 20px;
    float: centre;
    font-size: 100px;
    align-content: center;
    animation-delay: 0.9s;
}
.content p{
    margin: 30px 10 50px;
    font-size: 80px;
    color:#0e0000;
    align-content: center;
    animation-delay: 1s;
}
.content3{
     width: 89%;
     min-height: 90vh;
     background-image: url(image/backsd.avif);
     background-position: center;
     background-size: cover;
     color:#fff;
     padding: 10px 10%;
     max-width: 1200px;
     text-align: center;
     justify-content: center;
     position:relative;
     overflow: hidden;
}
.knowmore-btn{
    display: inline-block;
    text-decoration: wavy;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-bottom-left-radius: 10px;
    transition: 2s;
}
.content h1{
    margin-top: 30%;
    font-size: 70px;
    color:#090000;
    animation-delay: 0.9s;
}
.content p{
   
    margin: 30px 10 50px;
    font-size: 50px;
    color:#0e0000;
    align-content: center;
    animation-delay: 1s;
}
.knowmorebtn:hover{
    border-bottom-right-radius: 0;
}
.containerm{
    max-width: 100%;
     margin: auto;
     background-color: dimgrey;
}
.row{
     display: flex;
     flex-wrap: wrap;
}
ul{
     list-style: none;
}
footer {
     padding: 40px 0;
    
}
.footer-col{
     width: 20%;
     padding: 0 5px;
}
.footer-col h1{
     font-size: 18px;
     color: #0b0b0b;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
 
}
.footer-col h1::before{
     content: '';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: #e91e63;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
}
.footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 
}
.footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #141313;
     text-decoration: none;
     font-weight: 300;
     color: #0a0303;
     display: block;
     transition: all 0.3s ease;
}
.footer-col ul li a:hover{
     color: #080808;
     padding-left: 8px;
}
.footer-col .social-links{
     display: inline-block;
     height: 40px;
     width: 40px;
     font-size: 15px;
     background-color: transparent;
     margin:  10px 10px ;
     text-align:right to left;
     line-height: 20px;
     border-radius: 50%;
     color:#090909;
     transition: all 0.6s ease;
}
.footer-col .social-links a:hover{
     color: #1bb5cd;
     background-color: #722323;
}


/* footer */
#contact{
    width: auto;
    position: fixed;
    min-height: 100px;
    background-color: #097969;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
#contact a {
    color: white;
    text-decoration: bold;
  }


  /* 3-d Container */
  .container{
    background: url(image/bbcx.jpg);
    background-size: cover;
    background-position: center;
    margin: 4% auto;
    width: 1000px;
    height: 300px;
    position: relative;
    perspective: 1000px;
    padding-top: 50px;
  }
  #carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
  }
  #carousel:hover{
    animation-play-state: paused;
  }
  #carousel figure{
    display: block;
    position: absolute;
    width: 200px;
    height: 180px;
    left: 10px;
    top: 10px;
    overflow: hidden;
    border: solid 5px black;
  }
  #carousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(288px) ;
    background: url(image/rice.jpg);
    object-fit: contain;
  }
  #carousel figure:nth-child(2) {
     transform: rotateY(40deg) translateZ(288px);
    background: transparent;
    object-fit: contain;
  }
  #carousel figure:nth-child(3) {
     transform: rotateY(80deg) translateZ(288px);
    background: url(image/corn2.jpg);
    object-fit: contain;
  }
  #carousel figure:nth-child(4) {
     transform: rotateY(120deg) translateZ(288px);
    background: url(image/grape.jpg);
    object-fit: contain;
  }
  #carousel figure:nth-child(5) { 
    transform: rotateY(160deg) translateZ(288px);
    background: transparent;
    object-fit: contain;
  }
  #carousel figure:nth-child(6) { 
    transform: rotateY(200deg) translateZ(288px);
    background: url(image/cotton.png);
    object-fit: contain;
  }
  #carousel figure:nth-child(7) { 
    transform: rotateY(240deg) translateZ(288px);
    background: url(image/apple.jpg);
    object-fit: contain;
  }
  #carousel figure:nth-child(8) {
     transform: rotateY(280deg) translateZ(288px);
    background: transparent;
    object-fit: contain;
  }
  #carousel figure:nth-child(9) { 
    transform: rotateY(320deg) translateZ(288px);
    background: url(image/blue_berry.jpg);
    object-fit: contain;
  }
  
  img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
    object-fit: contain;
  }
  img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
  }
  
  @keyframes rotation{
    from{
      transform: rotateY(0deg);
    }
    to{
      transform: rotateY(360deg);
    }
  }