/* General styles */

body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

}



/* Navigation bar styles */

header {

    background-color: #141212;

    color: #f0ebeb;

    padding: 10px 0;

    text-align: center;

}



nav ul {

    list-style: none;

    padding: 0;

    margin: 0;

}



nav ul li {

    display: inline;

    margin: 0 15px;

}



nav ul li a {

    color: rgb(13, 10, 10);

    text-decoration: none;

}



nav ul li a:hover {

    text-decoration: underline;

}



/* Main content styles */

main {

    padding: 20px;

    text-align:center;

}



/* Footer styles */

footer {

    background-color: #d6c8c8;

    color: #ddd4d4;

    padding: 60px 0;

    text-align:center;

    position: fixed;

    width: 600%;

    bottom: 0;

}

.container{

    position: rel…    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}
.container .container{
    max-width: 800px;
    text-align: center;

}
.container .container h1
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}
.container .container p
{
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
.container11{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.container11 .container1{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container11 .container1 .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.container11 .container1 .box .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg,#01dbc2 0%,#01dbc2 10%,transparent 10%,transparent 50%);
    display: flex;
    justify-items: center;
    align-items: center;
}
.container11 .container1 .box .icon::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg,#01dbc2 0%,#01dbc2 10%,transparent 10%,transparent 50%);
}
.container11 .container1 .box .icon::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;
}
.container11 .container1 .box .icon b{
    position: absolute;
    inset: 6px;
    background: #01dbc2;
    z-index: 2;
}
.container11 .container1 .box .icon i{
    position: relative;
    z-index:1000;
    color: #333;
    font-size: 2em;
}
.container11 .container1 .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}
.container11 .container1 .box .text h2{
    font-weight: 500;
    color: #01dbc2;
}
.container11 .container1 .txt{
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #01dbc2;
    padding-left: 10px;
    line-height: 1em;
}
.container11 .container1 .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.container11 .container1 .sci li{
    list-style: none;
}
.container11 .container1 .sci li a{
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}
.container11 .container1 .sci li a:hover{
    color: #01dbc2;
    filter: drop-shadow(0 0 5px #01dbc2);
}
.container11 .container2{
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a),#01dbc2 0%,#01dbc2 10%,transparent 10%,transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}
.container11 .container2::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a),#01dbc2 0%,#01dbc2 10%,transparent 10%,transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.container11 .container2::after{
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #222;
    background: #333;

}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}
.container11 .container2 form{
    position: relative;
    z-index: 10;
}
.container11 .container2 form h4{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}
.container11 .container2 form .InputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.container11 .container2 form .InputBox input,
.container11 .container2 form .InputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid#02dbc2;
    color: #fff;
    outline: none;
}
.container11 .container2 form .InputBox span{

    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}
.container11 .container2 form .InputBox input:focus ~ span,
.container11 .container2 form .InputBox textarea:focus ~ span
.container11 .container2 form .InputBox input:valid ~ span,
.container11 .container2 form .InputBox textarea:valid ~ span{
    color: #01dbc2;
    font-size: 0.9em;
    transform:translateY(-24px);
}
.container11 .container2 form .InputBox input[type="submit"]{
    width: 100%;
    background: #01dbc2;
    color: #222; 
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}
/* now make it responsive*/
@media(max-width:991px){
    .container{
        padding: 50px;
    }
    .container11{
        flex-direction: column;
    }
    .container11 .container1,
    .container11 .container2{
        width: 100%;
    }
    .container11 .container2{
        padding: 40px;
    }
    .container11 .container2 form{
        padding: 30px;
    }
}