@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
}
section {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(65, 1, 1);
}
h2 {
    margin-bottom: 15px;
}
#upload-section input[type="file"] {
    margin-right: 10px;
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #fb0483;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #28a745;
    color: white;
    margin-top: 20px;
}